<h1>Orders#create</h1>
<p>Find me in app/views/orders/create.html.erb</p>

<h1>Votre paiement est confirmé.</h1>
<h2>Merci <%= @user.firstname %> pour votre achat de <strong><%= @amount %> €</strong> !</h2>
<p>Un email vous a été envoyé à <%= @user.email %> avec le récapitulatif de votre commande.</p>
