  #table-cell {
      display: table-cell;
      vertical-align: middle;
  }
  
  #title {
      display: table-cell;
      vertical-align: middle;
  }
  
  ul {
      list-style-type: none;
  }
  
  .navbar {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
  }
  
  .dropdown-menu {
      min-width: 200px;
  }
  
  .dropdown-menu.columns-2 {
      min-width: 400px;
  }
  
  .dropdown-menu.columns-3 {
      min-width: 600px;
  }
  
  .dropdown-menu li a {
      padding: 5px 15px;
      font-weight: 300;
  }
  
  .multi-column-dropdown {
      list-style: none;
      margin: 0px;
      padding: 0px;
  }
  
  .multi-column-dropdown li a {
      display: block;
      clear: both;
      line-height: 1.428571429;
      color: #333;
      white-space: normal;
  }
  
  .multi-column-dropdown li a:hover {
      text-decoration: none;
      color: #262626;
      background-color: #a6c;
  }
  
  @media (max-width: 767px) {
      .dropdown-menu.multi-column {
          min-width: 240px !important;
          overflow-x: hidden;
      }
  }
  
  .match-table:hover {
      background-color: #a6c;
  }
  
  .parallelogramme {
      width: 100px;
      height: 0;
      border-top: 50px solid green;
      border-left: 20px solid transparent;
      position: relative;
  }
  
  .parallelogramme:after {
      width: 0;
      height: 0;
      content: '';
      border-bottom: 50px solid green;
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
      position: absolute;
      top: -50px;
      right: -20px;
  }
  
  .header {
      border: 3px solid orange;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      /* -webkit-box-orient: horizontal; */
      z-index: 0;
      position: relative;
      /* position: absolute; */
  }
  
  .headerMiddle {
      border: 2px solid #a6c;
      -webkit-flex: 1;
      flex: 1;
      z-index: 1;
  }